* {
  background-color: rgb(255, 255, 255);
}

.keyword {
  color: purple;
}

/* About */

.aboutMe {
  margin-top: 200px;
  text-align: left;
}

/* homepage */

img {
  width: 600px;
  height: 600px;
}

.HeroImg {
  padding-top: 100px;
}

.row {
  background-color: rgb(255, 255, 255);
}

.col {
  background-color: rgb(255, 255, 255);
}

.Typewriter {
  width: 550px;
  height: 550px;
  padding: 30px;
  filter: drop-shadow(0px 0px 100px #8854d3);
}

.slogan {
  padding-right: 50px;
}
